#!/bin/sh

export HAAS_NUM="257"  # todo: enter your HAAS number
export PIVNET_TOKEN="4bbc709e554e40d582186753e4a69fdc-r"
export OM_USERNAME=admin
export OM_PASSWORD=R3apoOu1T9KZ
export ROOT_DOMAIN="haas-257.pez.pivotal.io"
export OM_TARGET="https://ops-manager.sandbox.${ROOT_DOMAIN}"
export OM_SKIP_SSL_VALIDATION=true
eval "$(om bosh-env --ssh-private-key /home/ubuntu/workspace/keys/id_ed25519)"
